demo/** -linguist-vendored
demo/*.mvn linguist-language=Java
demo/src/main/java/com/example/demo/*.java linguist-language=Java
demo/src/main/java/com/example/demo/security/*.java linguist-language=Java
demo/src/main/resources/templates/*.html linguist-language=HTML
demo/src/main/resources/templates/error/*.html linguist-language=HTML
