<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <title>Система работы с ресурсами компании</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="bg-image"
     style="background-image: url('https://gradienthunt.com/gradients-images/1200.jpg'); height: 100vh; overflow-x: hidden">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4" style="color: #e9f4fb">Ресурсы</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a th:href="@{/sup}" class="nav-link" aria-current="page" style="color: #e9f4fb">Поставщики</a></li>
                <li class="nav-item"><a th:href="@{/}" class="nav-link" style="color: #e9f4fb">Ресурсы</a></li>
                <li class="nav-item"><a th:href="@{/about}" class="nav-link" style="color: #e9f4fb">Об авторе</a></li>
                <li class="nav-item"><a th:href="@{/reg_admin}" class="nav-link active" style="color: #e9f4fb" sec:authorize="hasRole('ADMIN')">Зарегистрировать пользователя</a></li>
                <li class="nav-item"><a th:href="@{/logout}" class="nav-link active" style="color: #e9f4fb; background-color: #ed0606">Выйти</a></li>
                <li class="nav-item"><a class="nav-link" style="color: #e9f4fb;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"></path>
                </svg><th:block th:with="username=${#authentication.getName()}">
                    <span th:text="${username}"></span></th:block></a></li>
            </ul>
        </header>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-4">
            <h4>Поиск ресурса по нескольким критериям сразу</h4>
            <form th:action="@{/}">
                <input type="text" name="keyword" id="keyword" size="70" class="input_field" th:value="${keyword}" required/>
                <input type="submit" class="btn btn-success btn-sm" value="Поиск"/>
                <input type="button" class="btn btn-warning btn-sm" value="Очистить" id="btnClear1"
                       onclick="clearSearch()"/>
            </form>
        </div>
    </div>
    <table id="1" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>
            <form th:action="@{/findRes}">
                <input type="text" name="keywordName" id="keywordName" class="input_field" size="5" th:value="${keywordName}" required/>
                <input type="submit" class="btn btn-success btn-sm" value="Поиск"/>
                <input type="button" class="btn btn-warning btn-sm" value="Очистить" id="btnClear2"
                       onclick="clearSearch()"/>
            </form>
            </th>
            <th>
                <form th:action="@{/findRes}">
                    <input type="text" name="keywordType" id="keywordType" class="input_field" size="5" th:value="${keywordType}" required/>
                    <input type="submit" class="btn btn-success btn-sm" value="Поиск"/>
                    <input type="button" class="btn btn-warning btn-sm" value="Очистить" id="btnClear3"
                           onclick="clearSearch()"/>
                </form>
            </th>

            <th>
                <form th:action="@{/findRes}">
                    <input type="text" name="keywordQuantity" id="keywordQuantity" class="input_field" size="5" th:value="${keywordQuantity}" required/>
                    <input type="submit" class="btn btn-success btn-sm" value="Поиск"/>
                    <input type="button" class="btn btn-warning btn-sm" value="Очистить" id="btnClear4"
                           onclick="clearSearch()"/>
                </form>
            </th>

            <th>
                <form th:action="@{/findRes}">
                    <input type="text" name="keywordCost" id="keywordCost" class="input_field" size="5" th:value="${keywordCost}" required/>
                    <input type="submit" class="btn btn-success btn-sm" value="Поиск"/>
                    <input type="button" class="btn btn-warning btn-sm" value="Очистить" id="btnClear5"
                           onclick="clearSearch()"/>
                </form>
            </th>

            <th>
                <form th:action="@{/findRes}">
                    <input type="text" name="keywordAcdate" id="keywordAcdate" class="input_field" size="5" th:value="${keywordAcdate}" required/>
                    <input type="submit" class="btn btn-success btn-sm" value="Поиск"/>
                    <input type="button" class="btn btn-warning btn-sm" value="Очистить" id="btnClear6"
                           onclick="clearSearch()"/>
                </form>
            </th>

            <th>
                <form th:action="@{/findRes}">
                    <input type="text" name="keywordSupplier" id="keywordSupplier" class="input_field" size="5" th:value="${keywordSupplier}" required/>
                    <input type="submit" class="btn btn-success btn-sm" value="Поиск"/>
                    <input type="button" class="btn btn-warning btn-sm" value="Очистить" id="btnClear7"
                           onclick="clearSearch()"/>
                </form>
            </th>
        </tr>
        <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col" onclick="sortName()">Название</th>
            <th scope="col" onclick="sortType()">Тип</th>
            <th scope="col" onclick="sortQuantity()">Количество</th>
            <th scope="col" onclick="sortPrice()">Стоимость</th>
            <th scope="col" onclick="sortAcdate()" class="change-text">Дата покупки</th>
            <th scope="col" onclick="sortSupplier()">Поставщик</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="resource, itemStat: ${listRes}">
            <th scope="row" class="text-white" th:text="${resource.name}">Название ресурса отстутсвует</th>
            <th scope="row" class="text-white" th:text="${resource.type}">Тип ресурса отстутсвует</th>
            <th scope="row" class="text-white" th:text="${resource.quantity}">Количество гресурса отстутсвует</th>
            <th scope="row" class="text-white" th:text="${resource.cost}">Стоимость ресурса отстутсвует</th>
            <th scope="row" class="text-white" th:text="${resource.acdate}">Дата покупки ресурса отстутсвует</th>
            <th scope="row" class="text-white" th:text="${listSups[__${itemStat.index}__]}">Поставщик ресурса отстутсвует</th>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{'/editRes/'+${resource.resid}}"><button type="button" class="btn btn-info">Редактировать</button></a>
                <a th:href="@{'/deleteRes/'+${resource.resid}}"><button type="button" class="btn btn-danger">Удалить</button></a>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="text-green">
        <script type="text/javascript">
            function getRowsColumn() {
                function givemecolor(thecolor, thetext)
                {
                    return '<span style="color:'+thecolor+'">'+thetext+'</span>';
                }
                let table = document.getElementById('1')
                let tBody = table.querySelector('tbody')
                const count = tBody.querySelectorAll('tr').length
                document.write(givemecolor('#090431', 'Количество ресурсов: ' + count))
            }
            getRowsColumn()
        </script>
    </p>
    <blockquote class="blockquote text-center">
        <a href="/newRes">
            <button type="button" class="btn btn-primary" data-togge="button" aria-pressed="false" autocomplete="off" sec:authorize="hasRole('ADMIN')">
                Добавить ресурс
            </button>
        </a>
    </blockquote>
    <table style="margin: 0 auto; width: 50%" id="2" class="table">
        <script type="text/javascript">
            function getAcdateGist() {
                
                // Получаем ссылку на таблицу
                let mainTable = document.getElementById('1');

                // Получаем ссылки на ячейки столбца с датами отгрузки
                let cells = Array.from(mainTable.querySelectorAll("tbody th:nth-child(5)"));
                for (let j = 0; j < cells.length; j++) {
                    cells[j] = cells[j].textContent;
                }
                cells.sort();

                // Создаем объект, который будет содержать количество дат
                let dateCounts = {};

                for (let i = 0; i < cells.length; i++) {
                    let datetime = cells[i];
                    dateCounts[datetime] = (dateCounts[datetime] || 0) + 1;
                }
                // Создаем массивы с данными для гистограммы
                let labels = Object.keys(dateCounts);
                let data = Object.values(dateCounts);

                let tableArrival = document.createElement('table');
                tableArrival.classList.add('table', 'table-dark', 'table-striped', 'table-hover')
                let thead = document.createElement('thead');
                tableArrival.appendChild(thead)
                let tr = document.createElement('tr');
                tableArrival.appendChild(tr)

                const th1 = document.createElement('th');
                th1.textContent = 'Дата покупки';
                tr.appendChild(th1);

                const th2 = document.createElement('th');
                th2.textContent = 'Количество покупок';
                tr.appendChild(th2);

                let tbody = document.createElement('tbody');
                tableArrival.appendChild(tbody);


                for (let i = 0; i < data.length; i++){
                    const tr = document.createElement('tr');
                    tbody.appendChild(tr);

                    const td1 = document.createElement('td');
                    td1.textContent = labels[i];
                    tr.appendChild(td1);

                    const td2 = document.createElement('td');
                    td2.textContent = data[i];
                    tr.appendChild(td2);
                }
                let t = document.getElementById('2');
                t.appendChild(tableArrival);
            }
            getAcdateGist()
        </script>
    </table>
    <div style="background-color: rgba(255,255,255,0.2)">
        <canvas id="myChart" height="70"></canvas>
    </div>
</div>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }

    function sortAcdate() {

        // Получаем заголовок колонки "Дата покупки ресурса"
        let mainTable = document.getElementById('1')
        const acdate = mainTable.querySelector('tr:nth-child(2) th:nth-child(5)')
        // Получаем все строки таблицы
        const rows = Array.from(mainTable.querySelectorAll('tbody tr'));
        // Определяем порядок сортировки (возрастание или убывание)
        const ascending = acdate.dataset.order === 'asc';

        // Сортируем строки таблицы в соответствии с выбранным порядком
        const sortedRows = rows.sort((a, b) => {
            const aValue = new Date(a.cells[4].textContent).getTime();
            const bValue = new Date(b.cells[4].textContent).getTime();
            return ascending ? aValue - bValue : bValue - aValue;
        });

        // Поменяем порядок строк в таблице
        const tbody = mainTable.querySelector('tbody');
        sortedRows.forEach(row => tbody.insertBefore(row, null));

        // Изменяем порядок сортировки при повторном клике на заголовке колонки
        acdate.dataset.order = ascending ? 'desc' : 'asc';
        acdate.textContent = "Дата покупки " + (ascending ? "▲" : "▼");
        acdate.style.color = '#006400'
    }

    function sortName(){
        // Получаем заголовок колонки "Название"
        let mainTable = document.getElementById('1')
        const acdate = mainTable.querySelector('tr:nth-child(2) th:nth-child(1)')
        // Получаем все строки таблицы
        const rows = Array.from(mainTable.querySelectorAll('tbody tr'));
        // Определяем порядок сортировки (возрастание или убывание)
        const ascending = acdate.dataset.order === 'asc';

        // Сортируем строки таблицы в соответствии с выбранным порядком
        const sortedRows = rows.sort((a, b) => {
            const aValue = a.cells[0].textContent.trim();
            const bValue = b.cells[0].textContent.trim();
            return ascending ? aValue.localeCompare(bValue) : bValue.localeCompare(aValue);
        });

        // Поменяем порядок строк в таблице
        const tbody = mainTable.querySelector('tbody');
        sortedRows.forEach(row => tbody.insertBefore(row, null));

        // Изменяем порядок сортировки при повторном клике на заголовке колонки
        acdate.dataset.order = ascending ? 'desc' : 'asc';
        acdate.textContent = "Название " + (ascending ? "▲" : "▼");
        acdate.style.color = '#006400'
    }  

    function sortType(){
        // Получаем заголовок колонки "Тип"
        let mainTable = document.getElementById('1')
        const acdate = mainTable.querySelector('tr:nth-child(2) th:nth-child(2)')
        // Получаем все строки таблицы
        const rows = Array.from(mainTable.querySelectorAll('tbody tr'));
        // Определяем порядок сортировки (возрастание или убывание)
        const ascending = acdate.dataset.order === 'asc';

        // Сортируем строки таблицы в соответствии с выбранным порядком
        const sortedRows = rows.sort((a, b) => {
            const aValue = a.cells[1].textContent.trim();
            const bValue = b.cells[1].textContent.trim();
            return ascending ? aValue.localeCompare(bValue) : bValue.localeCompare(aValue);
        });

        // Поменяем порядок строк в таблице
        const tbody = mainTable.querySelector('tbody');
        sortedRows.forEach(row => tbody.insertBefore(row, null));

        // Изменяем порядок сортировки при повторном клике на заголовке колонки
        acdate.dataset.order = ascending ? 'desc' : 'asc';
        acdate.textContent = "Тип " + (ascending ? "▲" : "▼");
        acdate.style.color = '#006400'
    }

    function sortQuantity(){
        // Получаем заголовок колонки "Количество"
        let mainTable = document.getElementById('1')
        const acdate = mainTable.querySelector('tr:nth-child(2) th:nth-child(3)')
        // Получаем все строки таблицы
        const rows = Array.from(mainTable.querySelectorAll('tbody tr'));
        // Определяем порядок сортировки (возрастание или убывание)
        const ascending = acdate.dataset.order === 'asc';

        // Сортируем строки таблицы в соответствии с выбранным порядком
        const sortedRows = rows.sort((a, b) => {
            const aValue = parseInt(a.cells[2].textContent.trim());
            const bValue = parseInt(b.cells[2].textContent.trim());
            return ascending ? aValue - bValue : bValue - aValue;
        });

        // Поменяем порядок строк в таблице
        const tbody = mainTable.querySelector('tbody');
        sortedRows.forEach(row => tbody.insertBefore(row, null));

        // Изменяем порядок сортировки при повторном клике на заголовке колонки
        acdate.dataset.order = ascending ? 'desc' : 'asc';
        acdate.textContent = "Количество " + (ascending ? "▲" : "▼");
        acdate.style.color = '#006400'
    }

    function sortPrice(){

        // Получаем заголовок колонки "Название"
        let mainTable = document.getElementById('1')
        const acdate = mainTable.querySelector('tr:nth-child(2) th:nth-child(4)')
        // Получаем все строки таблицы
        const rows = Array.from(mainTable.querySelectorAll('tbody tr'));
        // Определяем порядок сортировки (возрастание или убывание)
        const ascending = acdate.dataset.order === 'asc';

        // Сортируем строки таблицы в соответствии с выбранным порядком
        const sortedRows = rows.sort((a, b) => {
            const aValue = parseInt(a.cells[3].textContent.trim());
            const bValue = parseInt(b.cells[3].textContent.trim());
            return ascending ? aValue - bValue : bValue - aValue;
        });

        // Поменяем порядок строк в таблице
        const tbody = mainTable.querySelector('tbody');
        sortedRows.forEach(row => tbody.insertBefore(row, null));

        // Изменяем порядок сортировки при повторном клике на заголовке колонки
        acdate.dataset.order = ascending ? 'desc' : 'asc';
        acdate.textContent = "Стоимость " + (ascending ? "▲" : "▼");
        acdate.style.color = '#006400'
    }

    function sortSupplier(){

        // Получаем заголовок колонки "Название"
        let mainTable = document.getElementById('1')
        const acdate = mainTable.querySelector('tr:nth-child(2) th:nth-child(6)')
        // Получаем все строки таблицы
        const rows = Array.from(mainTable.querySelectorAll('tbody tr'));
        // Определяем порядок сортировки (возрастание или убывание)
        const ascending = acdate.dataset.order === 'asc';

        // Сортируем строки таблицы в соответствии с выбранным порядком
        const sortedRows = rows.sort((a, b) => {
            const aValue = a.cells[5].textContent.trim();
            const bValue = b.cells[5].textContent.trim();
            return ascending ? aValue.localeCompare(bValue) : bValue.localeCompare(aValue);
        });

        // Поменяем порядок строк в таблице
        const tbody = mainTable.querySelector('tbody');
        sortedRows.forEach(row => tbody.insertBefore(row, null));

        // Изменяем порядок сортировки при повторном клике на заголовке колонки
        acdate.dataset.order = ascending ? 'desc' : 'asc';
        acdate.textContent = "Поставщик " + (ascending ? "▲" : "▼");
        acdate.style.color = '#006400'
    }  

</script>

<script type="text/javascript">

    // Получаем ссылку на таблицу
    let table = document.getElementById('1');

    // Получаем ссылки на ячейки столбца с датами покупок
    let cells = Array.from(table.querySelectorAll("tbody th:nth-child(5)"));
    for (let j = 0; j < cells.length; j++) {
        cells[j] = cells[j].textContent;
    }
    cells.sort();

    // Создаем объект, который будет содержать количество дат
    let dateCounts = {};

    for (let i = 0; i < cells.length; i++) {
        let datetime = cells[i];
        dateCounts[datetime] = (dateCounts[datetime] || 0) + 1;
    }

    // Создаем массивы с данными для гистограммы
    let labels = Object.keys(dateCounts);
    let data = Object.values(dateCounts);

    // Создаем гистограмму с помощью библиотеки Chart.js
    let ctx = document.getElementById("myChart");
    let chart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: labels,
            datasets: [{
                label: "Количество типов ресурсов по дате покупки",
                data: data,
                backgroundColor: "rgba(244,199,10,0.6)",
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        callback: function(value) {if (value % 1 === 0) {return value;}}
                    }
                }]
            }
        }
    });
</script>

</body>
</html>